<!DOCTYPE HTML>
<html>
<head>
    <title>COVID19 Chest X-Ray Predictions</title>
    <link rel="stylesheet" href="../static/styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<div id="main">
  <h1> COVID19 Chest X-Ray Predictions </h1>
  <h2> This website is not a diagnostic tool and should not act as a substitute for professional medical advice, diagnosis, or treatment. Please consult the advice of a medical professional. </h2>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</div>
<script src="../static/scripts.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
